.Footer {
    background: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: left;
}

.footer__title {
    font-style: italic;
    font-weight: bold;
    padding-bottom: 15px;
}

.footer__info {
    padding-bottom: 10px;
    font-size: 14px;
}

.footer__list {
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    padding-inline-start: 0px !important;
}

.footer__list li {
    padding: 4px 0px;
}