.dropdownmenu {
    background-color: #ed1d24;
    display: flex;
    position: relative;
}
.dropdownmenu ul, .dropdownmenu li {
	margin: 0; 
	padding: 0;
}
.dropdownmenu ul {
	background: #ed1d24;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
    width:auto;
}
.dropdownmenu ul li a{
	max-height: 55px;
}
.dropdownmenu a {
	background: #e93131;
	color: #FFFFFF;
	display: block;
	font: bold 12px/25px sans-serif;
	padding: 15px 20px;
	text-align: left;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
    background: #b30303; 
    text-decoration: none;
    color: white !important;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 40px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 55px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 170px;
}
#submenu a:hover {
	background: #574a44;
}
#submenu a {
	background-color:#000000;
	max-height: 100px !important;
}
#cart {
    float: right;
}