.homepage__item {
    text-align: center;
}

.homepage__item--type1 {
    background-color: rgb(245, 243, 240);
}

.homepage__item--type2 {
    background-color: rgb(236, 232, 230);
}

.homepage__item--image {
    width: 70%;
    padding: 25px;
}

.homepage__item--title {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.homepage__item--description {
    font-size: 14px;
}

.homepage__bigtitle {
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 50px 0px;
}

.homepage__introduce {
    text-align: left;
}

.homepage__introduce--image {
    border-radius: 5px;
}

.homepage__introduce--title {
    padding: 10px 0px 0px 0px;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.homepage__introduce--description {
    font-size: 14px;
}

.homepage__introduce--button {
    border-radius: 6px !important;
    font-style: italic;
    font-size: 14px !important;
    padding: 5px 12px !important;
}

.homepage__companyintroduce {
    margin-bottom: 60px;
}

.homepage__bigtitle2 {
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 50px 0px;
}

.homepage__newproducts {
    background-image: url(https://static.zerochan.net/Date.A.Live.full.1536510.jpg);
    /* background: rgb(14, 1, 1); */
    width: 100%;
    background-repeat: no-repeat !important;
    padding-bottom: 50px;
}

.homepage__newproduct {
    background-color: white;
}

.homepage__newproduct--name {
    padding: 20px 0px 10px 0px;
    font-weight: bold;
}

.homepage__newproduct--image {
    width: 60%;
}

.homepage__newproduct--price {
    color: red;
    padding: 20px 0px 5px 0px;
    font-size: 14px;
    font-weight: bold;
}

.homepage__newproduct--button {
    margin-bottom: 30px !important;
    font-size: 12px !important;
    font-weight: bold !important;
}


.homepage__newsfeedback {
    background-color: rgb(243, 242, 240);
    padding-bottom: 40px;
}

.homepage__newsfeedback--image1 {
    width: 120%;
}

.homepage__bigtitle3 {
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 50px 0px;
}

.homepage__newsfeedback--title {
    text-align: left;
    font-weight: bold;
    font-size: 17px;
}

.homepage__newsfeedback--desciption {
    text-align: left;
    font-size: 13px;
    min-width: 20px;
}

.homepage__newsfeedback--day {
    border-radius: 4px 4px 0px 0px !important;
    background-color: red !important;
    min-width: 45px;
    min-height: 45px;
    margin-left: -15px;
    font-size: 17px !important;
    text-align: center !important;
}

.homepage__newsfeedback--month {
    border-radius: 0px 0px 4px 4px !important;
    background-color: black !important;
    min-width: 45px;
    min-height: 45px;
    margin-left: -15px;
    font-size: 17px !important;
    text-align: center !important;
}

.homepage__newsfeedback--des {
    margin-top: -4px !important;
    margin-left: -5px !important;
}

.homepage__newsfeedback--image2 {
    width: 80%;
    border-radius: 180px;
}

.homepage__newsfeedback--nameguest {
    margin: 20px 0px;
    font-weight: bolder;
    font-style: italic;
}

.homepage__newsfeedback--feedbackguest {
    text-align: justify;
    font-size: 13px;
}



